<div>
    <form action="/login" method="post" #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <md-input-container>
            <input mdInput placeholder="UserName" name="username" [(ngModel)]="username" #uname="ngModel" required/>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Password" type="password" name="password" [(ngModel)]="password" #pword="ngModel" required/>
        </md-input-container>

        <div>
            <button md-raised-button type="submit" [disabled]="!loginForm.form.valid">Submit</button>
        </div>
    </form>
</div>
