<!-- <nav class="nav justify-content-end">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Fire Dragon</a>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/employees">Employees</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a>Projects</a></li>
        </ul>
    </div>
</nav> -->

<ul class="nav justify-content-end lf-nav">
    <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a routerLink="/employees" class="nav-link">Employees</a></li>
    <li class="nav-item"><a routerLink="/shift" class="nav-link">Shifts</a></li>
    <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
</ul>
